<html>
  <head>
    <link
      href="/NMCHTML/Content/themes/redmond/jquery-ui-1.12.1.min.css?v=5.7.6"
      rel="stylesheet"
    />

    <style>
      button {
        margin: 10px;
      }
    </style>

    <script
      src="/NMCHTML/Scripts/lib/jquery-3.3.1.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/NMCHTML/Scripts/lib/jquery-ui-1.12.1.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/NMCHTML/Scripts/lib/jquery.idletimeout.js"
      type="text/javascript"
    ></script>
    <script
      src="/NMCHTML/Scripts/lib/jquery.idletimer.js"
      type="text/javascript"
    ></script>
  </head>

  <body></body>
</html>
